@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --light: rgb(250 156 15);
  --lighter: rgb(253 225 183);
  /* Dnw: text-color-3 */
  --text-primary: rgb(21 47 55);
  --text-secondary: rgb(215 87 59); 
  /*UP bg-color-1 */
  --neutral: #152f37cc;
  
  --neutral2: #fa9c0f4d;
  /*UP bg-color-2 */
  /* Dnw color3 */
  --neutral3: #152f370d;
  --text-gray: rgb(3 7 18);
  --neutral4: #152f371a;
  --neutral5: #152f37b3;
  --neutral6: rgb(53 82 139);
  --neutral7: #d75738;
  --neutral8: #fa9c0f;
  --neutral9: #152f3780;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Poppins, sans-serif;
}
.card{
  position: relative;
}